<div class="row justify-content-center">
    <div class="col-12 text-center my-2 fw-bold h3">
        Add new User
    </div>
    <div class="col-8">
        <div class="card shadow">
            <div class="card-body">
                <form [formGroup]="myForm">
                    <input type="text" class="form-control mb-1" placeholder="Enter your name" formControlName="name" />
                    @if (myForm.get('name')?.touched) {
                    @if (myForm.get('name')?.errors?.['required']) {
                    <small class="text-danger">Name is required</small>
                    }
                    @if (myForm.get('name')?.errors?.['minlength']) {
                    <small class="text-danger">Minimum 3 characters</small>
                    }
                    }
                    <input type="email" class="form-control mt-2 mb-1" placeholder="Enter your email"
                        formControlName="email" />
                    @if (myForm.get('email')?.touched) {
                    @if (myForm.get('email')?.errors?.['required']) {
                    <small class="text-danger">Email is required</small>
                    }
                    @if (myForm.get('email')?.errors?.['email']) {
                    <small class="text-danger">Invalid email</small>
                    }
                    }
                    <select class="form-control mt-2 mb-1" formControlName="role">
                        <option value="" disabled>Select Role</option>
                        <option value="Admin">Admin</option>
                        <option value="Editor">Editor</option>
                        <option value="Viewer">Viewer</option>
                    </select>
                    @if (myForm.get('role')?.touched && myForm.get('role')?.errors?.['required']) {
                    <small class="text-danger">Role is required</small>
                    }
                    <button class="btn btn-primary mt-3 w-100" [disabled]="myForm.invalid" (click)="submitData()">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>